.show{"ng-controller" => "showMapsController"}
  %p#notice
    = notice

  %p
    = @map.name

  %p
    = @browserKey

  #map
    test

  / %script{"src" => "https://maps.googleapis.com/maps/api/js?key=#{@browserKey}&callback=initMap", "async defer" => ""}

  / %ui-gmap-google-map{"center" => "map.center", "ng-zoom" => "map.zoom"}
  
  %ui-gmap-google-map{"center" => "{latitude: -34.397, longitude: 150.644}", "bounds" => "getBoundsFromLocation(locations)", "refresh" => "ready", "zoom" => "8"}

  = link_to 'Edit', edit_map_path(@map) |
  = link_to 'Back', maps_path
